*,
*::before,
*::after {
  text-decoration: none;
  box-sizing: border-box;
}


:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Lora', serif;

  /* --fw-reg: 300; */
  /* --fw-bold: 900; */

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #DF7A39;

  --fs-h1: 2rem;
  --fs-h2: 1.50rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;


/**Shadow for image**/
  --bs: 0.25em 0.25em 0.75am rgba(0,0,0,.25),
        0.125em 0.125em, 0.27em rgba(0,0,0,.15)

}


html {
  scroll-behavior: smooth;
}


/*------------------MEDIA QUERY--------------------*/

@media (min-width: 800px) {
  :root {
    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-h3: 2rem;
    --fs-body: 1.5rem;
  }


/*nav & introduction*/
nav{
  height: 120px;
}
.AKlogo{
  display: block;
  max-height: 60px;
  position: absolute;
  left: 75px;
  top: 30px;
}
.logo-text{
  position: absolute;
  left: 180px;
  top: 20px;
  }
.intro_right{
    display: inline-block;
    width: 50%;
  }
.intro__img{
   float: right;
    width: 50%;
  }
.arrowicon{
  display: inline;
  width: 100%
}

/*sections*/
.inspocloud{
    display: inline-block;
    width: 100%;
}
.inspocloud_introduction{
    display: inline-block;
    width: 48%;
  }
.inspocloud_img{
  float: right;
   width: 30%;
   margin-left: 5%;
}

.busybus{
  display: inline-block;
}

.busybus_introduction{
    display: inline-block;
    width: 48%;
  }
.busybus_img{
   float: left;
   width: 30%;
   margin-right: 5%;
}

/*----ABOUT ME SECTION----*/
.aboutme_photo{
  float: right;
  margin: auto;
    width: 35%;
}
.aboutme_intro{
  display: inline-block;
  width: 60%;
  margin-right: 5%;
}

}




/*RESPONSIVE LOGO*/
@media (max-width: 800px) {
  .AKlogo {
  display: none;
  }
}

/* code added to create two-column design */
@media (min-width: 700px) {
.my_skills{
  width: 100%;
}
.skill{
  width: 10%;
}


}







/*General styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.5;
}

section {
  padding: 5% 10%;
  margin-bottom: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

#persona-img{
}

#highlight{
  background: #F3EBE3;
  margin: 0;
}




/*----------Typography------------*/

h1,
h2{
  font-family: var(--ff-secondary);
}
h3 {
  font-family: var(--ff-primary);
  line-height: 1.3;
}
.highlight__title{
  text-align: center;
}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

h4 span {
  background-color: #F3EBE3;
  border-radius: 20px;
  color: #745B49;
  padding: 2px 12px;
  line-height: 2;
  white-space: nowrap;
}

/*--------button styles---------*/

.btn-primary{
    display: inline-block;
    max-width: 50%;
    margin: 10px;
    background: #DF7A39;
    border-radius: 20px;
    color: white;
    font-family: var(--ff-primary);
    padding: 9px 12px;
    text-decoration: none;
    white-space: nowrap;
    overflow:hidden;
}
.btn-secondary{
    display: inline-block;
    max-width: 50%;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid #DF7A39;
    color: #DF7A39;
    font-family: var(--ff-primary);
    padding: 7px 20px;
    text-decoration: none;
      white-space: nowrap;
      overflow:hidden;
}
.btn-placement{
  text-align: center;
}

/*LINK STYLES*/
a {
  text-decoration: underline;
  color: #DF7A39;
}


/*--------NAV STRUCTURE------ */

nav {
  background: #F3EBE3;
  /* height: 80px; */
  width: 100%;
}
label.logo{
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  font-weight: bold;
  letter-spacing: .25rem;
  line-height: 80px;
  padding: 0 100px:
}

.logo-text{
  text-decoration: none;
  color: black;
}


ul{
  list-style: none;
  float: right;
  margin-right: 75px;
}
ul li{
  display: inline-block;
  line-height: 80px;
}
ul li a{
  color: black;
  border-radius: 3px;
  text-decoration: none;
  margin: 0px 7px; /*keeps list apart*/
}
.checkbtn{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}
#check{
  display: none;
}
/*----------MEDIA QUERY FOR NAV MENU-----*/
@media (max-width: 1400px){
  label.logo{
    font-size: 30px;
    padding-left: 30px;
  }

ul li a{
    font-size: 16px;
  }
  .checkbtn{
    display: block;
  }
ul.hamburger{
    position: fixed;
    width: 100%;
    background: white;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: all .5s;
  }
  ul li{
    display: block;
    z-index: 1;
    margin: 50px 0;
    line-height: 30px;
  }
    ul li a{
      font-size: 20px;
    }
    #check:checked ~ ul{
      right: 0;
    }
}

/*----------INTRODUCTION-----------*/

.intro {
  background: #F3EBE3;
}
.intro_text{
  font-weight: normal;
  margin: 10px;
}

.arrowicon{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*-------------SKILLS--------------*/

.skill-img{
    display: inline;
  max-width: 100%;
  margin: 0;
}
.skill {
  display: inline-block;
  margin: 5%;
  max-width: 40%;
  text-align: center;
}



/*------------CONTRAST MESSAGE BAR-----------------*/

.message{
  display: inline-block;
  margin: 0;
  width: 100%;
  background-color: #DF7A39;
  color: white;
  padding: 10px 5px;
}


/*-------------TESTIMONIAL PICTURE------------*/
.testimonial_mike{
  display: block;
margin-left: auto;
margin-right: auto;
width: 25%;
}


/*-------------ABOUT ME------------*/
.aboutme_photo{
  display: block;
margin-left: auto;
margin-right: auto;
}
.aboutme_subintro{
    font-weight: normal;
}


/*------------FOOTER-----------------*/
.footer{
  display: block;
  position: fixed;
  width: 100%;
  color: #DF7A39;
  text-align: center;
}

footer {
  text-align: center;
}

.footer-text{
  font-weight: normal;
  /* width: 70%; */
  margin: 5% 20%;
  text-align: center;
}

.footer-container > div {
  margin: 15px 0px;
  background: #DF7A39;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}
